<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="./../../App_Plugins/HR-ON/dashboard.css" rel="stylesheet">
    <script src="./../../App_Plugins/HR-ON/dashboard.js"></script> -->
    
  </head>
  <body>
    <section>
        <div id="footer" class="footer text-center">
                If there are any problems, HR-ON Support
        </div>
    </section>
  </body>
</html>
